<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Continuer?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sur de vouloir supprimer ceci?
            </div>
            <div class="modal-footer">
                <button type="button" class="button blue_btn" data-dismiss="modal">Fermer</button>
                {% if element %}
                {{ include('admin/'~ element ~'/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
