* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  border-bottom: 1px rgba(117, 117, 117, 0.1) solid;
  margin-bottom: 25px;
}

header div, nav, ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  margin: 0 10px;
}

.cart, .headerNav {
  position: relative;
  margin-bottom: 0;
}

.headerNav::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: rgba(117, 117, 117, 0.1);
  right: -10px;
}

.cart::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: rgba(117, 117, 117, 0.1);
  left: -10px;
}

.cart:hover {
  cursor: pointer;
}

.cart-wrapper {
  position: absolute;
  top: 40px;
  width: 380px;
  min-height: 350px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: white;
  z-index: 9;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  cursor: default;
}
.cart-wrapper div {
  width: 100%;
  border-radius: 25px;
}

div.headerCart {
  background-color: #07775A;
  height: 100px;
  color: white;
  padding: 0 20px 0 30px;
  justify-content: space-between;
}
div.headerCart h3 {
  font-weight: bold;
}
div.headerCart .articlesCounter {
  padding: 5px 10px;
  background-color: royalblue;
  border-radius: 5px;
}

.bodyCart {
  display: flex;
  flex-direction: column;
}
.bodyCart .article {
  width: 100%;
  padding: 5px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.bodyCart .article section {
  width: 100%;
  padding-left: 60px;
}
.bodyCart .article h4, .bodyCart .article p {
  margin-bottom: 0;
  padding: 3px 0;
}
.bodyCart .article p span {
  font-weight: bold;
}
.bodyCart .article img {
  height: 90px;
}
.bodyCart .totals {
  padding: 0 50px;
}
.bodyCart .totals .ht td:nth-child(2), .bodyCart .totals .tva td:nth-child(2) {
  color: #B3B7CB;
}
.bodyCart .totals .ttc td:nth-child(1) {
  font-weight: bold;
}
.bodyCart .totals .ttc td:nth-child(2) {
  color: #5867DD;
  font-weight: bold;
}
.bodyCart .totals td {
  width: 70%;
}

h2, h1 {
  font-family: "Vollkorn SC", serif;
  font-size: 36px;
  color: #07775A;
}

footer {
  text-align: center;
  margin-top: 30px;
}

footer section img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
}

.container {
  max-width: 1350px;
}

#logo {
  width: 130px;
  height: 120px;
  margin: 30px 0;
}

#logoMyAcc {
  height: 30px;
  width: 30px;
}

.button {
  height: auto;
  border: none;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
}

.blue_btn {
  background-color: #f5f5f9;
  color: #5D78FF;
  width: 100%;
}

.green_btn {
  background-color: #07775A;
  color: white;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.login-wrapper {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 18px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding-bottom: 70px;
}
.login-wrapper h3 {
  font-weight: bold;
}
.login-wrapper .signin {
  position: relative;
}
.login-wrapper .signin::after {
  position: absolute;
  content: "";
  height: 400px;
  width: 2px;
  background-color: rgba(117, 117, 117, 0.1);
  right: -100px;
  top: 5px;
}

.login-wrapper form div {
  margin: 30px 0;
}

.login-wrapper form div label {
  margin: 10px 0;
}

.createAccount {
  top: 45%;
  position: relative;
}

.services {
  background-color: #F5F5F5;
  padding: 40px 0;
}
.services div {
  display: flex;
  justify-content: space-between;
}
.services section {
  text-align: center;
}
.services section p {
  font-weight: 600;
}
.services img {
  height: 200px;
  width: 200px;
}

.maps {
  width: 100%;
  position: relative;
}
.maps iframe {
  opacity: 0.75;
}
.maps .contactForm {
  background-color: rgba(7, 119, 90, 0.6);
  position: absolute;
  top: 5%;
  right: 0;
  padding: 30px 50px;
  height: 90%;
  width: 25%;
  font-family: "Poppins", sans-serif;
  box-shadow: 4px 4px 14px 5px rgba(0, 0, 0, 0.25);
}
.maps .contactForm .iconified {
  position: relative;
}
.maps .contactForm .iconified svg {
  position: absolute;
  top: 15px;
  left: 5px;
}
.maps .contactForm input, .maps .contactForm textarea, .maps .contactForm button {
  width: 100%;
  margin: 10px 0;
  border: 2px solid #07775A;
}
.maps .contactForm input, .maps .contactForm textarea {
  padding-left: 30px;
}
.maps .contactForm input::placeholder, .maps .contactForm textarea::placeholder {
  color: rgba(128, 128, 128, 0.5);
}
.maps .contactForm button {
  color: #07775A;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 0;
}

.heading {
  position: relative;
  margin-top: 50px;
  height: 520px;
}
.heading img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  object-position: center 40%;
}
.heading div h1 {
  padding: 40px 80px;
}
.heading div p {
  font-size: 18px;
}

.partners div {
  height: 150px;
}
.partners img {
  height: 100%;
  margin: 0 75px;
  border-radius: 15px;
}
.partners .carousel-item {
  transition: all 1100ms cubic-bezier(0.68, 1.535, 0.81, 0.905);
  /* custom */
}
.partners .carousel-control-prev {
  padding-right: 100px;
}
.partners .carousel-control-next {
  padding-left: 100px;
}

.homeMenu .wrapper {
  justify-content: space-evenly;
}
.homeMenu .wrapper .list {
  align-items: center;
}
.homeMenu img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.homeMenu .fader {
  position: absolute;
  left: 0;
  opacity: 0;
}
.homeMenu .img_wrapper {
  position: relative;
}

.myacc-wrapper {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.myacc-wrapper .table {
  margin-bottom: 0;
}

#contactForm label {
  display: none;
}

.myBreadcrumb {
  font-size: 14px;
  color: #757575;
}

.selectedBreadcrumb {
  color: dodgerblue;
}

.shop_bcg {
  width: 100%;
  height: 250px;
  opacity: 0.4;
  object-fit: cover;
  margin: 10px 0 50px 0;
}

.myCard {
  background-color: transparent;
  height: 300px;
  width: 21%;
  perspective: 1000px;
  margin: 25px 30px;
}

.myCard-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.myCard:hover .myCard-wrapper {
  transform: rotateY(180deg);
}

.back_card, .front_card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Style the front side (fallback if image is missing) */
.front_card {
  background-color: #bbb;
  color: black;
  z-index: 98;
}
.front_card h4 {
  font-weight: bold;
  z-index: 11;
  position: relative;
  top: 275px;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 3px 5px;
  border-top: 1px solid #757575;
  font-size: 16px;
}
.front_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.back_card {
  transform: rotateY(180deg);
  background: linear-gradient(35deg, #FDBB2D 0%, #22C1C3 100%);
  z-index: 99;
}
.back_card h4 {
  font-size: 20px;
  color: white;
}
.back_card p {
  color: #07775A;
  font-weight: 900;
}
.back_card p small {
  color: #e6e6e6;
}

.card_btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card_btn:hover,
.submit_cart_btn:hover {
  transform: scale(1.05);
}

.photoSide img {
  width: 80%;
  height: 600px;
  object-fit: cover;
  margin: auto;
}
.photoSide ol li {
  background-color: orange;
}

.detailsSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.detailsSide .brand {
  color: #6C7293;
  font-size: 12px;
  position: relative;
}
.detailsSide .brand::after {
  content: "";
  position: absolute;
  background-color: rgba(200, 200, 200, 0.75);
  height: 1px;
  width: 100px;
  bottom: -5px;
  left: 0;
}
.detailsSide h3 {
  font-size: 35px;
}
.detailsSide p {
  font-size: 20px;
}
.detailsSide .price {
  color: #07775A;
  font-size: 24px;
  font-weight: bold;
}

.review-wrapper {
  background-color: #F5F5F5;
}

.reviewCart, .totalCart {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 20px 20px 0;
  padding: 20px 20px 0;
  background-color: white;
}

.reviewCart h3 {
  color: #07775A;
  font-weight: bold;
}
.reviewCart span {
  font-weight: bold;
}
.reviewCart .deleteArticle {
  border: none;
  background-color: white;
  color: rgba(255, 0, 0, 0.5);
  text-decoration: underline;
}

.totalCart .strippedPrice {
  text-decoration: line-through;
}

.step_nav_wrapper {
  transform: scale(0.5);
}
.step_nav_wrapper span {
  font-size: 26px;
  margin: -40px 40px 20px;
}

.myBox {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.onCard {
  position: absolute;
  bottom: 50px;
  right: 30px;
  display: flex;
}

.onDetails {
  display: flex;
}

.qty-wrapper {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #757575;
  margin: 0 5px;
}

.wrapper-mid {
  width: 50px;
  text-align: center;
}

.qty, .qtyLess, .qtyMore {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: #07775A;
  border: 0;
  background-color: transparent;
}

#minamount, #maxamount {
  color: #07775A;
  border: 0;
  font-weight: bold;
}

.ui-accordion-header-active {
  background-color: #07775A;
}

.ui-slider {
  height: 3px;
  border: 0 !important;
  background-color: #c4c4c4;
}

.ui-slider-horizontal span.ui-slider-handle {
  background-color: white !important;
  border: #07775A solid 2px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  top: -0.5em;
  margin-left: -0.6em;
}

.ui-slider-range {
  background-color: #07775A;
}

#social {
  position: relative;
}

#social::before, #social::after {
  bottom: 25px;
  content: "";
  position: absolute;
  height: 3px;
  width: 40%;
  background-color: #07775A;
}

#social::before {
  left: 0;
}

#social::after {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
