$mainColor: #07775A ;
$lightGreen: #0ABB87 ;
$subText: #757575 ;
$midText: #6C7293 ;
$logout: #5D78FF ;
$selected: #23B9FF ;
$edit_btn: rgba(103, 116, 193, 0.95);

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Lato", sans-serif;
}

// START HEADER

header{
  border-bottom: 1px rgba(117, 117, 117, 0.1) solid;
  margin-bottom: 25px;
}

header div, nav, ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a{
  margin: 0 10px;
}

.cart, .headerNav{
  position: relative;
  margin-bottom: 0;
}

.headerNav::after{
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: rgba(117, 117, 117, 0.1);
  right: -10px;
}

.cart::before{
  content: "";
  position: absolute;
  height: 50px;
  width: 2px;
  background-color: rgba(117, 117, 117, 0.1);
  left: -10px;
}

.cart:hover{
  cursor: pointer;
}

.cart-wrapper{
  position: absolute;
  top: 40px;
  width: 380px;
  min-height: 350px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: white;
  z-index: 9;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  cursor: default;

  div{
    width: 100%;
    border-radius: 25px;
  }
}

div.headerCart{
  background-color: $mainColor;
  height: 100px;
  color: white;
  padding: 0 20px 0 30px;
  justify-content: space-between;

  h3{
    font-weight: bold;
  }

  .articlesCounter{
    padding: 5px 10px;
    background-color: royalblue;
    border-radius: 5px;
  }
}

.bodyCart{
  display: flex;
  flex-direction: column;

  .article{
    width: 100%;
    padding: 5px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

    section{
      width: 100%;
      padding-left: 60px;
    }
    h4, p{
      margin-bottom: 0;
      padding: 3px 0;
    }
    p span{
      font-weight: bold;
    }
    img{
      height: 90px;
    }
  }

  .totals{
    padding: 0 50px;

    .ht td:nth-child(2), .tva td:nth-child(2){
      color: #B3B7CB;
    }
    .ttc td:nth-child(1){
      font-weight: bold;
    }
    .ttc td:nth-child(2){
      color: #5867DD;
      font-weight: bold;
    }

    td{
      width: 70%;
    }
  }
}

// END HEADER / START BODY

h2, h1{
  font-family: 'Vollkorn SC', serif;
  font-size: 36px;
  color: $mainColor;
}

// END BODY / START FOOTER
footer{
  text-align: center;
  margin-top: 30px;
}

footer section img{
  height: 50px;
  width: 50px;
  margin: 0 15px;
}

// END FOOTER / START CLASS & ID's

.container{
  max-width: 1350px;
}

#logo{
  width: 130px;
  height: 120px;
  margin: 30px 0;
}

#logoMyAcc{
  height: 30px;
  width: 30px;
}

.button{
  height: auto;
  border: none;
  font-family: "Lato", sans-serif;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
}

.blue_btn{
  background-color: #f5f5f9;
  color: $logout;
  width: 100%;
}

.green_btn{
  background-color: $mainColor;
  color: white;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.login-wrapper{
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 18px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  padding-bottom: 70px;

  h3{
    font-weight: bold;
  }

  .signin{
    position: relative;
  }

  .signin::after{
    position: absolute;
    content: "";
    height: 400px;
    width: 2px;
    background-color: rgba(117, 117, 117, 0.1);
    right: -100px;
    top: 5px;
  }
}

.login-wrapper form div{
  margin: 30px 0;
}

.login-wrapper form div label{
  margin: 10px 0;
}

.createAccount{
  top: 45%;
  position: relative;
}

.services{
  background-color: #F5F5F5;
  padding: 40px 0;

  div{
    display: flex;
    justify-content: space-between;
  }

  section{
    text-align: center;

    p{
      font-weight: 600;
    }
  }

  img{
    height: 200px;
    width: 200px;
  }
}

.maps{
  width: 100%;
  position: relative;

  iframe{
    opacity: 0.75;
  }

  .contactForm{
    background-color: rgba(7, 119, 90, 0.6);
    position: absolute;
    top: 5%;
    right: 0;
    padding: 30px 50px;
    height: 90%;
    width: 25%;
    font-family: "Poppins", sans-serif;
    box-shadow: 4px 4px 14px 5px rgba(0, 0, 0, 0.25);

    .iconified{
      position: relative;

      svg{
        position: absolute;
        top: 15px;
        left: 5px;
      }
    }

    input, textarea, button{
      width: 100%;
      margin: 10px 0;

      border: 2px solid $mainColor;
    }

    input, textarea{
      padding-left: 30px;
    }

    input::placeholder, textarea::placeholder{
      color: rgba(128, 128, 128, 0.5);
    }

    button{
      color: $mainColor;
      text-transform: uppercase;
      font-size: 14px;
      padding: 5px 0;
    }
  }
}

.heading{
  position: relative;
  margin-top: 50px;
  height: 520px;

  img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    object-fit: cover;
    object-position: center 40%;
  }

  div h1{
      padding: 40px 80px;
  }

  div p{
    font-size: 18px;
  }
}

.partners{
  //overflow: hidden;

  div{
    height: 150px;
  }

  img{
    height: 100%;
    margin: 0 75px;
    border-radius: 15px;
  }

  .carousel-item{
    transition: all 1100ms cubic-bezier(0.680, 1.535, 0.810, 0.905); /* custom */
  }

  .carousel-control-prev{
    padding-right: 100px;
  }

  .carousel-control-next{
    padding-left: 100px;
  }
}

.homeMenu{


  .wrapper{
    justify-content: space-evenly;

    .list{
      align-items: center;
    }
  }

  img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;
  }

  .fader{
    position: absolute;
    left: 0;
    opacity: 0;
  }

  .img_wrapper{
    position: relative;
  }
}

.myacc-wrapper{
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .table{margin-bottom: 0}
}

#contactForm{

  label{
    display: none;
  }
}

.myBreadcrumb{
  font-size: 14px;
  color: $subText;
}

.selectedBreadcrumb{
  color: dodgerblue;
}

.shop_bcg{
  width: 100%;
  height: 250px;
  opacity: 0.4;
  object-fit: cover;
  margin: 10px 0 50px 0;
}

.myCard{
  background-color: transparent;
  height: 300px;
  width: 21%;
  perspective: 1000px;
  margin: 25px 30px;
}

.myCard-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.myCard:hover .myCard-wrapper {
  transform: rotateY(180deg);
}

.back_card, .front_card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Style the front side (fallback if image is missing) */
.front_card {
  background-color: #bbb;
  color: black;
  z-index: 98;

  h4{
    font-weight: bold;
    z-index: 11;
    position: relative;
    top: 275px;
    //text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    background-color: rgba(240, 240, 240, 0.8);
    padding: 3px 5px;
    border-top: 1px solid $subText;
    font-size: 16px;
  }

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

}

.back_card {
  transform: rotateY(180deg);
  //background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  background: linear-gradient(35deg, #FDBB2D 0%, #22C1C3 100%);
  z-index: 99;

  h4{
    font-size: 20px;
    color: white;
  }

  p{
    color: $mainColor;
    font-weight: 900;
  }

  p small{
    color: #e6e6e6;
  }
}

.card_btn{
  position: absolute;
  bottom: 0;
  left: 0;
}

.card_btn:hover,
.submit_cart_btn:hover{
  transform: scale(1.05);
}

.photoSide{

  img{
    width: 80%;
    height: 600px;
    object-fit: cover;
    margin: auto;
  }

  ol li{
    background-color:orange;
  }
}

.detailsSide{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .brand{
    color: $midText;
    font-size: 12px;
    position: relative;
  }

  .brand::after{
    content: '';
    position: absolute;
    background-color: rgba(200, 200, 200, 0.75);
    height: 1px;
    width: 100px;
    bottom: -5px;
    left: 0;
  }

  h3{
    font-size: 35px;
  }

  p{
    font-size: 20px;
  }

  .price{
    color: $mainColor;
    font-size: 24px;
    font-weight: bold;
  }
}

.review-wrapper{
  background-color: #F5F5F5;
}

.reviewCart, .totalCart{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 20px 20px 0;
  padding: 20px 20px 0;
  background-color: white;
}

.reviewCart{

  h3{
    color: $mainColor;
    font-weight: bold;
  }
  span{
    font-weight: bold;
  }
  .deleteArticle{
    border: none;
    background-color: white;
    color: rgba(255, 0, 0, .5);
    text-decoration: underline;
  }
}

.totalCart{
  .strippedPrice{
    text-decoration: line-through;
  }
}

.step_nav_wrapper{
  transform: scale(.5);

  span{
    font-size: 26px;
    margin: -40px 40px 20px;
  }
}

.myBox{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

// qtySelector

.onCard{
  position: absolute;
  bottom: 50px;
  right: 30px;
  display: flex;
}

.onDetails{
  display: flex;
}

.qty-wrapper{
  height: 35px;
  width: 35px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid $subText;
  margin: 0 5px;
}
  .wrapper-mid{
    width: 50px;
    text-align: center;
  }

.qty, .qtyLess, .qtyMore{
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  color: $mainColor;
  border: 0;
  background-color: transparent;
}

// end qtySelector / filterBar

#minamount, #maxamount{
  color: $mainColor;
  border: 0;
  font-weight: bold;
}

.ui-accordion-header-active{
  background-color: $mainColor;
  //background: linear-gradient(90deg, #369933 0%, #85C185 100%);
}

.ui-slider{
  height: 3px;
  border: 0 !important;
  background-color: #c4c4c4;
}

.ui-slider-horizontal{
  span.ui-slider-handle{
    background-color: white !important;
    border: $mainColor solid 2px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    top: -.5em;
    margin-left: -.6em;
  }
}

.ui-slider-range{
  background-color: $mainColor;
}
// filterBar




#social{
  position: relative;
}

#social::before, #social::after{
  bottom: 25px;
  content: '';
  position: absolute;
  height: 3px;
  width: 40%;
  background-color: $mainColor;
}

#social::before{
  left: 0;
}

#social::after{
  right: 0;
}
