{% extends 'admin/base.html.twig' %}

{% block title %}Editer un client{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Administration / Client</h2>

        <div>
            <button class="button blue_btn new">
                <a href="{{ path('client_new') }}">Nouveau client</a>
            </button>
        </div>
    </div>

    <div class="text-center d-flex justify-content-center">
        <div class="form px-4 py-5">
            {{ include('admin/client/_form.html.twig') }}
        </div>
    </div>

    <div class="pl-5 ml-5">
        <button class="button blue_btn">
            <a href="{{ path('client_index') }}">Retour à la liste</a>
        </button>
    </div>
{% endblock %}
