{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Administration / Client</h2>
    </div>

    <div class="ml-5 col-8 d-flex flex-row-reverse justify-content-around align-items-center">
        <div class="text-center ml-5">
            <div class="form px-4 pt-3">
                {{ include('admin/client/_form.html.twig') }}
            </div>
        </div>

        <div>
            <button class="button blue_btn">
                <a href="{{ path('client_index') }}">Retour à la liste</a>
            </button>
        </div>
    </div>
{% endblock %}
