<h2 class="text-center py-4">Nos Services</h2>

<div class="container">
    <section>
        <img src="{{ asset('images/front/secured.png') }}" alt="logo secured">
        <p>Paiement sécurisé en 3 ou 4 fois</p>
    </section>
    <section>
        <img src="{{ asset('images/front/quick_shipping.png') }}" alt="logo quick shipping">
        <p>Livraison en 2 à 5 jours ouvrés</p>
    </section>
    <section>
        <img src="{{ asset('images/front/gift_delivery.png') }}" alt="logo gift delivery">
        <p>Livraison gratuite au dela de 49€ d'achat</p>
    </section>
    <section>
        <img src="{{ asset('images/front/click_collect.png') }}" alt="logo click & collect">
        <p>Click & collect sous 2h en magasin</p>
    </section>
</div>
